.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.react-grid-item {
  /* color: hotpink; */
  /* background: yellow !important; */
}

/* .react-grid-placeholder {
  background-color: blue !important;
  width: 120px !important;
} */

/* .react-grid-item.react-grid-placeholder {
  background-color: yellow;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* 
.hours-1 {
  background-color: yellow !important;
}

.hours-1:has(+ .react-grid-placeholder) {
  background-color: yellow !important;
}

.hours-2 {
  background-color: cyan !important;
}

.hours-2 .react-grid-placeholder {
  background-color: cyan !important;
}

.hours-3 .react-grid-placeholder {
  background-color: blue !important;
}


.hel {
  background-color: cyan !important;
  /* width: 128px !important; */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
